#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  background-color: #ffffff;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: #ffffff;
  min-height: 100vh;
}
